{% extends "layouts/_base.njk" %}

{% block content %}
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam sapiente quam deleniti vero reiciendis ratione in ab fugit distinctio, et commodi aliquam iure cum voluptatem recusandae tempora harum laudantium tenetur.
{% endblock %}